@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
    /* Layout */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* Font */
    font-family: Pretendard;
    font-style: normal;
    line-height: normal;
}

a {
    text-decoration: none;
    color: #1E1E1E;
}

/* html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
} */



/* 리스트 아이템 스타일 */
li {
    list-style: none;
    /* 점을 없애는 스타일 */
}

/* Navigation 스타일 */
header {
    display: flex;
    justify-content: space-between;
    /* 네비게이션 내부 요소들을 좌우로 끝에 정렬하여 모음 */
    align-items: center;
    /* 요소들을 수직 가운데 정렬 */
    background-color: #1E1E1E;
    color: white;
    height: 361px;
    width: 100%;
    padding-bottom: 54px;
}

.header-container {
    width: 71%;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}

.bestPost {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.bestPostTitle {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}

.bestPostContent {
    width: 525px;
    /* 글 내용을 최대 5줄까지만 미리보기 */
    /* max-height: 5em; */
    overflow: hidden;
    /* 글꼴 */
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}

.readMore {
    width: 108px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #3A3A3A;
    justify-content: center;
    align-items: center;
    display: flex;

    /* Font */
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}

.bestPostImage {
    height: 100%;
    width: 600px;
    opacity: 50%;

    /* Layout */
    position: relative;
    margin-left: auto;
    max-height: 343px;
}

/* Section 스타일 */
section {
    background-color: #CAC8C5;
    /* 섹션 배경색을 밝은 회색으로 설정 */
    padding: 20px;
    /* 섹션 내부 패딩을 추가 (선택적) */
    height: calc(100vh -105px - 415px - 200px);
    width: 100%;
}

.post-grid-container {
    width: 100%;
}

.post-grid {
    width: 71%;
    margin: 54px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
    gap: 20px;
}

.post-img {
    height: 40%;
    width: 100%;


    /* Layout */
    position: relative;
    margin-left: auto;
    max-height: 343px;
}

img {
    max-width: 100%
}

.post {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    /* 이전 스타일에서 border 속성을 제거하여 테두리 없애기 */
    padding: 10px;

    width: 345.09px;
    height: 720px;
}

p:hover {
    text-decoration: underline;
}

h2:hover {
    text-decoration: underline;
}