@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
    /* Layout */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f9f8f4;
    /* Font */
    font-family: Pretendard;
    font-style: normal;
    line-height: normal;
}

main {
    width: 71%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

section a {
    text-decoration: none;
}

#post {
    /* padding: 20px 0; */
    padding-top: 20px;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 23px;
}

#main-article-box {
    width: 58%;
    /* height: 100%; */
    border: solid 1px #CAC8C5;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 36px 32px;
}

article#main-article {
    width: 100%;
    height: 100%;
}

article>* {
    margin: 10px 0;
}

article> :nth-child(-n+4) {
    display: flex;
    justify-content: center;
}

#main-tags>span {
    border-radius: 2px;
    background-color: #E1E0DB;
    padding: 2px 9px;
}

aside#sub-article {
    width: 37%;
    max-width: 318px;
    /* height: 100%; */
    border: solid 1px #CAC8C5;
    padding: 0 8px;
}

aside#sub-article>h2 {
    margin-left: 8px;
    /* Font */
    color: #A6A5A1;
    font-size: 24px;
    font-weight: 700;
}

#sub-other-contents {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.sub-contents {
    flex-shrink: 0;
    padding: 8px;
    border: 1px solid #CAC8C5;
}

.sub-contents>img {
    max-width: 286px;
    max-height: 200px;
    width: 100%;
}

.sub-contents>h3 {
    margin: 10px 0 6px 0;
}

#updates {
    display: flex;
    justify-content: space-between;
}

#list {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 71%;
    justify-content: center;
    margin: 23px auto 83px auto;

    /* Font */
    color: #000;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#list>div {
    display: flex;
    justify-content: space-between;
}

#updates input {
    display: inline-flex;
    padding: 0px 9px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    cursor: pointer;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
}

#edit {
    border: 1px solid #E1E0DB;
    background-color: #E1E0DB;
    color: #1E1E1E;
}

#delete {
    border: 1px solid #1E1E1E;
    background-color: #1E1E1E;
    color: #f9f8f4;
}

#share {
    background-color: #f9f8f4;
    border: 1px solid #d9d9d9;
    color: #1E1E1E;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}

.post-date {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.5;
}
/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

/* 닫기 버튼 스타일 */
.close {
    float: right;
    cursor: pointer;
}

/* 아이콘 스타일 */
.icon {
    width: 48px;
    font-size: 32px;
    margin-right: 10px;
}

/* 복사 버튼 스타일 */
.copy-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#share-link {
    height: 17px;
    padding: 3px 8px;
}