@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
    /* Layout */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f9f8f4;
    /* Font */
    color: #000;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

form {
    padding: 20px 0px;
    width: 71%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 600px;
}

.article {
    flex-grow: 1;
}

.article label {
    display: none;
}

.article>input {
    padding: 11px 16px;
}

.article-option {
    /* width: 264px; */
    width: 37%;
    max-width: 264px;
    flex-shrink: 0;
}

.write-box {
    border-radius: 2px;
    border: 1px solid #CAC8C5;

    display: flex;
    flex-direction: column;
    width: 230px;
    padding: 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

.write-box:first-of-type {
    align-items: center;
    flex-direction: row;
}

#topic {
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

#topic>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.topic-option>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 6px;
}

.topic-option>div>input {
    margin: 0px;
}

.topic-option>div>label {
    color: #000;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box-title {
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.write-box>label {
    color: #000;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.write-box>label:hover,
.write-box button:hover {
    cursor: pointer;
}

#imgfile {
    height: 0px;
}

.load-draft {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1E1E1E;
    border-radius: 2px;
    background-color: #e9e9ed;
}

.save-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.save-buttons button {
    display: flex;
    width: 100%;
    padding: 4px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 2px;
}

.save-buttons button:first-child,
.load-draft {
    border-radius: 2px;
    border: 1px solid #1E1E1E;

    color: #1E1E1E;
}

.save-buttons button:nth-child(2) {
    border: 0;
    background: #1E1E1E;

    color: #FFF;
}