asgiref==3.7.2
beautifulsoup4==4.12.2
bleach==6.0.0
bs4==0.0.1
Django==4.2.5
django-summernote==0.8.20.0
djangorestframework==3.14.0
Pillow==10.0.0
psycopg2==2.9.7
pytz==2023.3.post1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.7.1
webencodings==0.5.1
