{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>board_admin</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/board-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
</head>

<body>
  {% include "nav_bar.html" %}
  <header class="navContainer">
    <div class="header-container">
      <div class="bestPost">
        <h1 class="bestPostTitle">{{ most_viewed.title }}</h1>
        <p class="bestPostContent">{{ most_viewed.content|striptags }}
        </p>
        <a href="{% url 'post' most_viewed.id %}" class="readMore">READ MORE</a>
      </div>
      {% if most_viewed.img %}
      <img src="{{ most_viewed.img }}" alt="" class="bestPostImage">
      {% else %}
      <img src="{% static 'img/thumbnail.jpg'%}" class="bestPostImage">
      {% endif %}
    </div>
  </header>

  <div class="post-grid-container">
    <div class="post-grid">
      {% for record in all_records %}
      {% if not forloop.first %}
      <a href="{% url 'post' record.id %}">
        <article class="post" id="{{ record.id }}">
          {% if record.img %}
          <img src="{{ record.img }}" alt="" class="post-img" >
          {% else %}
          <img src="{% static 'img/thumbnail.jpg'%}" class="post-img">
          {% endif %}

          <p class="post-date">{{ record.created_at|date:"Y-m-d H:i:s" }}</p>
          <h2 class="post-title">{{ record.title }}</h2>
          <p class="post-content">
            {% if record.is_content_more210 %}
            {{ record.get_content_under210|truncate_lines:4|safe }}
            {% else %}
            {{ record.content|truncate_lines:4|safe }}
            {% endif %} 
          </p>
        </article>
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
  {% include "footer.html" %}
</body>
<script src="{% static 'js/board.js' %}"></script>

</html>