{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board-client.css' %}" />
    <title>Board-client</title>
</head>
<body>
    <div id ="board-client">
        <header>

            <div class="Rectangle10">
                <div class="Rectangle3"> 
                    <div class="Group1"></div>
                        <ul class="Frame3">
                        <li>일상</li>
                        <li>요리</li>
                        <li>영화</li>
                        <li>IT</li>
                    </ul>
                    <div class="Rectangle9">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                        <a href="{% url 'write' %}">Just Write!</a>
                        {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
                <div class="Rectangle8">사진</div>
                <div class="main_title">제목</div>
                <div class="main_content">내용</div>
                <div class="Group11">READ MORE</div>
            </div>
        </header>
        <div class="container">
            <div class="card">              
                <div class="main_picture">
                    <img src="img\Rectangle 13.svg" alt="Main Picture">
                </div>
                <div class="date">날짜</div>
                <div class="block_title">제목</div>
                <div class="block_content">내용</div>
            </div>
            <div class="card">              
                <div class="main_picture">
                    <img src="img\Rectangle 14.svg" alt="Main Picture">
                </div>
                <div class="date">날짜</div>
                <div class="block_title">제목</div>
                <div class="block_content">내용</div>
            </div>
            <div class="card">              
                <div class="main_picture">
                    <img src="img\Rectangle 15.svg" alt="Main Picture">
                </div>
                <div class="date">날짜</div>
                <div class="block_title">제목</div>
                <div class="block_content">내용</div>
            </div>
       
            <div class="card">              
                <div class="main_picture">
                    <img src="img\Rectangle 13.svg" alt="Main Picture">
                </div>
                <div class="date">날짜</div>
                <div class="block_title">제목</div>
                <div class="block_content">내용</div>
            </div>
            <div class="card">              
                <div class="main_picture">
                    <img src="img\Rectangle 14.svg" alt="Main Picture">
                </div>
                <div class="date">날짜</div>
                <div class="block_title">제목</div>
                <div class="block_content">내용</div>
            </div>
            <div class="card">              
                <div class="main_picture">
                    <img src="img\Rectangle 15.svg" alt="Main Picture">
                </div>
                <div class="date">날짜</div>
                <div class="block_title">제목</div>
                <div class="block_content">내용</div>
            </div>
       
          
        </div>
        
        <footer class="Rectangle7">
            <div class="madewithdjango">Made with Django</div>
        </footer>
    </div>
</body>
</html>