{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>board_admin</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/board-admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
</head>

<body>
  {% include "nav_bar.html" %}
  <header class="navContainer">
    <div class="header-container">
      <div class="bestPost">
        {% comment %} <li>
          <h1 class="bestPostTitle">Lorem ipsum dolor</h1>
        </li>
        <li>
          <p class="bestPostContent">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam
            pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus
            feugiat et mi justo scelerisque euismod euismod. Turpis dictumst luctus nisi placerat purus dolor luctus
            vitae pretium. Gravida faucibus scelerisque quis mi consequat malesuada.
          </p>
        </li>
        <li><button class="readMore">READ MORE</button></li> {% endcomment %}
        <h1 class="bestPostTitle">{{ popular_post.title }}</h1>
        <p class="bestPostContent">{{ popular_post.content|striptags }}
        </p>
        {% comment %} <button class="readMore">READ MORE</button> {% endcomment %}
        <a href="{% url 'post' popular_post.id %}" class="readMore">READ MORE</a>
      </div>
      {% if popular_img %}
      <img src="{{ popular_img }}" alt="" class="bestPostImage">
      {% else %}
      <img src="{% static 'img/thumbnail.jpg'%}" class="bestPostImage">
      {% endif %}
    </div>

  </header>
  <div class="post-grid-container">
    <div class="post-grid">
      {% for record in all_records %}
      <a href="{% url 'post' record.id %}">
        <article class="post" id="{{ record.id }}">
          {% if record.img %}
          <img src="{{ record.img }}" alt="" class="post-img">
          {% else %}
          <img src="{% static 'img/thumbnail.jpg'%}" alt="" class="post-img">
          {% endif %}

          <p class="post-date">{{ record.created_at|date:"Y-m-d H:i" }}</p>
          <h2 class="post-title">{{ record.title }}</h2>
          <p class="post-content">{{ record.content|safe }}</p>
        </article>
      </a>
      {% endfor %}
    </div>

  </div>
  {% include "footer.html" %}
</body>
<script src="{% static 'js/board.js' %}"></script>

</html>