<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
  <title>Login</title>
</head>

<body>
  {% block content %}
  <div id="Login">
    <h2>Login</h2>
    <form action="" method="post">
      {% csrf_token %}
      <!-- 사용자 이름 입력 -->
      <input type="text" id="username" name="username" placeholder="username" value="{{ form.username.value|default_if_none:'' }}" required>

      <!-- 비밀번호 입력 -->
      <input type="password" id="password" name="password" placeholder="password" value="{{ form.password.value|default_if_none:'' }}" required>

      <!-- 로그인 버튼 -->
      <input type="submit" id="loginBtn" value="Login">
    </form>
  </div>
  {% endblock %}
</body>

</html>