{% load static %}
<!-- Header 부분 -->
<nav class="flex-item-header">
  <div class="nav-container">
    <!-- header 상단 왼쪽 부분 홈로고-->
    <div class="myLog">
      <a href="{% url 'board-admin' %}">
        <img src="{% static 'img/homeicon.svg' %}" class="homeicon" />
      </a>
    </div>

    <!-- header 상단 오른쪽 부분: 일상, 요리, 여행, 영화, 로그인, 글쓰기 버튼 -->
    <div class="headerRight">
      <div class="category">
        <button class="daily">일상</button>
        <button class="cooking">요리</button>
        <button class="travel">여행</button>
        <button class="movie">영화</button>
        <button class="it">IT</button>
      </div>
      {% comment %} {% if user.is_authenticated %}
      <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
      <a href="{% url 'write' %}" class="login-write">Just Write!</a>
      {% else %}
      <a href="{% url 'login' %}?next={{ request.path }}" class="login-write">Login</a>
      {% endif %} {% endcomment %}
      {% if user.is_authenticated %}
        {% if request.path == '/write/' %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
        {% endif %}
        <a href="{% url 'write' %}" class="login-write">Just Write!</a>
      {% else %}
      <a href="{% url 'login' %}?next={{ request.path }}" class="login-write">Login</a>
      {% endif %}

    </div>
  </div>
</nav>
