{% load static %}
<!-- Nav 부분 -->
<nav class="flex-item-header">
  <div class="nav-container">
    <!-- nav 상단 왼쪽 부분 홈로고-->
    <div class="myLog">
      <a href="{% url 'board-admin' %}">
        <img src="{% static 'img/homeicon.svg' %}" class="homeicon" />
      </a>
    </div>

    <!-- nav 상단 오른쪽 부분: 일상, 요리, 여행, 영화, 로그인, 글쓰기 버튼 -->
    <div class="headerRight">
      <div class="category">
        <a href="{% url 'topic_view' topic='일상' %}"><button class="daily">일상</button></a>
        <a href="{% url 'topic_view' topic='요리' %}"><button class="cooking">요리</button></a>
        <a href="{% url 'topic_view' topic='여행' %}"><button class="travel">여행</button></a>
        <a href="{% url 'topic_view' topic='영화' %}"><button class="movie">영화</button></a>
        <a href="{% url 'topic_view' topic='IT' %}"><button class="it">IT</button></a>
      </div>
      {% if user.is_authenticated %}
      {% if request.path == '/write/' %}
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
      {% endif %}
      <a href="{% url 'write' %}" class="login-write">Just Write!</a>
      {% else %}
      <a href="{% url 'login' %}?next={{ request.path }}" class="login-write">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
