{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
  <title>Post</title>
</head>

<body>
  {% include "nav_bar.html" %}
  <main>
    <div id="post">
      <div id="main-article-box">
        <article id="main-article">
          <div id="main-date">
            2023 09 06
          </div>
          <h2 id="main-title">
            Lorem ipsum dolor
          </h2>
          <div id="main-userid">
            by userid
          </div>
          <div id="main-tags">
            <span>일상</span>
          </div>
          <div id="content">
            asfw
          </div>
        </article>
      </div>
      
      <aside id="sub-article">
        <h2>Other posts<br>
        you may like</h2>
        <div id="sub-other-contents">
          <div class="sub-contents">
            <img src="" alt="">
            <h3>wsegwegew</h3>
          </div>
          <div class="sub-contents">
            <img src="" alt="">
            <h3>wsegwegew</h3>
          </div>
        </div>
      </aside>
    </div>
    {% if user.is_authenticated %}
    <div id="updates">
      <div>
        <input type="submit" id="edit" value="수정하기">
        <input type="submit" id="delete" value="삭제하기">
      </div>
      <input type="submit" id="share" value="공유하기">
    </div>
    {% else %}
    <div id="updates" style="justify-content: end;">
      <input type="submit" id="share" value="공유하기">
    </div>
    {% endif %}
    
  </main>
  <div class="list-container">
    <div id="list">
      <div id="next_page">
        <div class="pages">
          <div>다음글</div>
          <a href="">글의 제목</a>
          {% comment %} <div>글의 제목</div> {% endcomment %}
        </div>
        <div class="post-date">2023.09.06</div>
      </div>
      <div id="prev_page">
        <div class="pages">
          <div>이전글</div>
          <a href="">글의 제목</a>
          {% comment %} <div>글의 제목</div> {% endcomment %}
        </div>
        <div class="post-date">2023.09.06</div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</body>

</html>