{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
  <title>Post</title>
</head>

<body>
  {% include "nav_bar.html" %}
  <main>
    <div id="post">
      {% comment "" %}게시글 나오는 부분{% endcomment %}
      <div id="main-article-box">
        {% if post %}
        <article id="main-article">
          <div id="main-date">
            {{ post.created_at }}
          </div>
          <h2 id="main-title">
            {{ post.title }}
          </h2>
          <div id="main-userid">
            {{ post.author_id }}
          </div>
          <div id="main-tags">
            <span>일상</span>
          </div>
          <div id="content">
            {{ post.content|safe }}
          </div>
        </article>
        {% else %}
        <p>해당 포스트를 찾을 수 없습니다.</p>
        {% endif %}
      </div>
      {% comment "" %}추천포스트 영역{% endcomment %}
      <aside id="sub-article">
        <h2>Other posts<br>
          you may like</h2>
        <div id="sub-other-contents">
          {% for rec_post in rec_posts %}
          <a href="{% url 'post' rec_post.id %}" style="text-decoration: none; color: #1E1E1E">
            <div class="sub-contents">
              <img src="{% if rec_post.img %}{{ rec_post.img }}{% else %}{% static 'img/thumbnail.jpg'%}{% endif %}" alt="추천 게시물 썸네일">
              <h3>{{ rec_post.title }}</h3>
            </div>
          </a>
          {% endfor %}
        </div>
      </aside>
    </div>
    {% if user.is_authenticated %}
    {% comment "" %}로그인 여부에따라 다른 모달들이 나옴{% endcomment %}

    <div id="updates">
      <div>
        <form action="{% url 'post_edit' id=post.id %}" method="get" enctype="multipart/form-data">
          {% csrf_token %}
          {% comment %} 수정버튼 {% endcomment %}
          <!-- <input type="hidden" name="id" value="{{ post.id }}"> -->
          <input type="submit" id="edit" value="수정하기">
        </form>
        
        <form action="{% url 'post_remove' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% comment %} 삭제버튼 {% endcomment %}
          <input type="hidden" name="id" value="{{ post.id }}">
          <input type="submit" id="delete" value="삭제하기">
        </form>        
      </div>
      <button onclick="openModal()" id="share">공유하기</button>
        <!-- 모달 팝업 -->
        {% include "article-share.html" %}    </div>
    {% else %}
    <div id="updates" style="justify-content: end;">
      <button onclick="openModal()" id="share">공유하기</button>
        <!-- 모달 팝업 -->
        {% include "article-share.html" %}    </div>
    {% endif %}

  </main>
  <div class="list-container">
    <div id="list">
      {% if next_post %}
      <div id="next_page">
        <div class="pages">
          <div>다음글</div>
          <a href="{% url 'post' next_post.id %}">{{ next_post.title }}</a>
        </div>
        <div class="post-date">{{ next_post.created_at | date:"Y-m-d" }}</div>
      </div>
      {% endif %}
      {% if prev_post %}
      <div id="prev_page">
        <div class="pages">
          <div>이전글</div>
          <a href="{% url 'post' prev_post.id %}">{{ prev_post.title }}</a>
        </div>
        <div class="post-date">{{ prev_post.created_at | date:"Y-m-d" }}</div>
      </div>
      {% endif %}
    </div>
  </div>
  {% include "footer.html" %}
</body>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script src="{% static 'js/article-share.js' %}"></script>
  <script>
    const title = "{{ post.title }}";
    const content = "{{ post.content | safe }}";
  </script>
</html>