{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% comment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar_light.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
  <title>Write</title>
</head>

<body>
  {% include "nav_bar.html" %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="article">
      {% csrf_token %} {{ form.title }} {{ form.content }}
    </div>
    <div class="article-option">
      <div class="write-box" id="aiAutocompleteButton">
        <img src="{% static 'img/material-symbols_robot-2-outline.svg' %}" alt="" id="ai-img" />
        <img style="display: none; width: 24px; height: 24px;" src="{% static 'img/loading.gif' %}" alt=""
          id="loading-animation" />
        {% csrf_token %}
        <a href="#" class="box-title">인공지능 글 자동완성</a>
        {% csrf_token %}
      </div>
      <div class="write-box" id="topic">
        <span class="box-title">주제</span>
        {{ form.topic }}
      </div>
      <div class="write-box">
        <span class="box-title">업로드 정보</span>
        <p>상태:</p>
        <a href="javascript:openModal();" class="load-draft">불러오기</a>
        <div class="save-buttons">
          <button type="submit" name="button_type" value="tmp_save" id="tmp-save">임시 저장</button>
          <button type="submit" name="button_type" value="save">저장</button>
        </div>
      </div>
    </div>
  </form>
  {% include "footer.html" %}
  {% include "drafts.html" %}
</body>
<script src="{% static '/js/form.js' %}" defer></script>
<script type="text/javascript">
  let checkUnload = true;
  const form = document.querySelector("form");

  form.addEventListener("submit", (event) => {
    checkUnload = false;
  });

  window.addEventListener("beforeunload", (event) => {
    if (checkUnload) {
      event.preventDefault();
      event.returnValue = "";
    }
  });
</script>
<script>
  document.getElementById('aiAutocompleteButton').addEventListener('click', function () {
    // 로딩 애니메이션 
    document.getElementById('loading-animation').style.display = 'block';
    document.getElementById('ai-img').style.display = 'none';

    let title = document.getElementById('id_title').value;
    console.log(title)
    fetch('/autocomplete', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-CSRFToken': '{{ csrf_token }}',
      },
      body: new URLSearchParams({
        'title': title
      })
    })
      .then(response => response.json())
      .then(data => {
        document.getElementById('loading-animation').style.display = 'none';
        document.getElementById('ai-img').style.display = 'block';


        //기존 내용에 자동완성 된 내용 더함        

        let editor = document.getElementById('id_content');
        let currentContent = editor.value;
        console.log(currentContent)
        data.message = data.message.replace(/\n/g, '<br>');
        editor.value = currentContent + data.message;
        let iframe = document.getElementById('id_content_iframe');
        var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
        let notesd = iframeDocument.querySelector('.note-editable');

        notesd.innerHTML += data.message
        // iframe.innerHTML += data.message
        console.log(data.message)
      })
      .catch(error => {
        console.error('Error:', error);
        document.getElementById('loading-animation').style.display = 'none';
      });


  });
</script>
<script>
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
</script>

</html>